<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
  </head>
  <body>
    <header class="site-header" role="banner">
      <div class="header-logo">
        <img src="{{ '/assets/img/hero.jpg' | relative_url }}" alt="Header Logo">
      </div>
      {% include header.html %}
    </header>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <footer class="site-footer">
      <div class="footer-image">
        <img src="{{ '/assets/img/hero.jpg.png' | relative_url }}" alt="Footer Image">
      </div>
      {% include footer.html %}
    </footer>
  </body>
</html>